.navbar-brand {
  padding-left: 0;
  padding-right: 0;
}

.dropdown-toggle {
  font-family: 'Eurostile Next', sans-serif;
}

.navbar * {
  font-size: 13px;
}

.navbar .nav-item {
  margin-right: 20px;
}

.title-custom {
  font-family: 'Eurostile Next', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background-color: #b5edfe;
  padding: 20px 0;
  margin-bottom: 0;
}

.text-title-custom {
  font-family: 'Eurostile Next', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background-color: #f0fdfe;
  padding: 20px 0;
  margin-bottom: 0;
}

.lesson-card {
  font-size: 20px;
  font-weight: bold;
  background-color: #f0fdfe;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.row.text-center{
  background-color: #f0fdfe;
  margin-left: 0;
  margin-right: 0;
}

.btn-book {
  background-color: black;
  border: none;
  color: white;
  padding: .25rem .5rem; /* Smaller padding */
  font-size: .875rem; /* Smaller font size */
  border-radius: 0;
}


.btn-book:hover {
  background-color: #333;
  color: white;
}

.container-fluid.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.img-fluid.w-100.h-100 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer-heading {
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-item {
  margin-bottom: 0.5rem;
}
